* {
    box-sizing: border-box;
}

@font-face {
    font-family: dinRegular;
    src: url("../assets/fonts/DINRegular.ttf");
}

@font-face {
    font-family: dinRoundPro;
    src: url("../assets/fonts/DINRoundPro.otf");
}

@font-face {
    font-family: dinRoundPro;
    src: url("../assets/fonts/DINRoundPro-Bold.otf");
    font-weight: bold;
}

/* https://alvarotrigo.com/blog/how-to-create-websites-fullscreen-sections-html-and-css/ */
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#map { 
    height: 100vh;
    z-index: 0;
}

#sidebar {
    display: grid;
    grid-template-columns: 100fr;
    grid-template-rows: 20fr 40fr 40fr;
    grid-gap: 15px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #31939B;
    height: 100vh;
    /* width: 17vw; */
    color: #31939B;
    font-family: dinRegular;
    width: 300px;
    justify-items: stretch;
}

#sidebar section {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: white;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

#sidebar #logo-container {
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sidebar img {
    /* border: 2px red solid; */
    max-width: 225px;
    max-height: 126px;
}

#sidebar #about-map {
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 1.5em;
    
}

#sidebar #designer-list {
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-y: scroll;
}

#sidebar #designer-list ul {
    list-style-type: none;
    padding: 0;
}

#sidebar #designer-list ul li {
    cursor: pointer;
    /* border: 2px red solid; */
}

#sidebar #designer-list ul li:hover {
    /* cursor: pointer; */
    color: white;
    background-color: #31939B;
}


.designer-info .leaflet-popup-content-wrapper {
    font-family: dinRoundPro;
    font-weight: bold;
    background-color: #31939B;
    color: #39959A;
    border-radius: 0px;
}

.designer-info .leaflet-popup-tip {
    background-color: #31939B;
}

.designer-info h2, .designer-info .about-designer {
    background-color: white;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.designer-info h2 {
    font-size: 1.5rem;
}

.designer-info .about-designer h3 {
    margin: 0;
    padding: 0;
}

.designer-info .about-designer section {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.designer-info header {
    margin-bottom: 20px;
}




