* {
    box-sizing: border-box;
}
/* https://alvarotrigo.com/blog/how-to-create-websites-fullscreen-sections-html-and-css/ */
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#map { 
    height: 100vh;
    z-index: 0;
}

#info-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 2px red solid;
    background-color: white;
    height: 100vh;
    width: 17vw;
    opacity: 90%;
}

@font-face {
    font-family: dinRegular;
    src: url("../assets/fonts/DINRegular.ttf");
}

@font-face {
    font-family: dinRoundPro;
    src: url("../assets/fonts/DINRoundPro.otf");
}

@font-face {
    font-family: dinRoundPro;
    src: url("../assets/fonts/DINRoundPro-Bold.otf");
    font-weight: bold;
}

.designer-info .leaflet-popup-content-wrapper {
    font-family: dinRoundPro;
    font-weight: bold;
    background-color: #2596BE;
    color: #2596BE;
    border-radius: 0px;
}

.designer-info .leaflet-popup-tip {
    background-color: #2596BE;
}

.designer-info h2, .designer-info .about-designer {
    background-color: white;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.designer-info h2 {
    font-size: 1.5rem;
}

.designer-info .about-designer h3 {
    margin: 0;
    padding: 0;
}

.designer-info .about-designer section {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.designer-info header {
    margin-bottom: 20px;
}




